.pro-img {
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 50%;
    background: #ccc;
    margin-right: 30px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .p-name {
    text-align: left;
  }
  .profile-detail {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 60px;
  }
  img.dp-img {
    width: 100%;
  }
  