.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }
  .has-search .form-control {
    padding-left: 2.375rem;
  }
  .main-body {
    display: flex;
  }
  .main-body h3 {
    text-align: left;
  }
  
  .main-section {
    padding: 15px;
  }
  
  .right-sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  